# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual env
venv/
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Database (если локальные файлы)
*.sqlite3

# Docker
docker-compose.override.yml

# Python cache deeper
**/__pycache__/

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# coverage
.coverage
htmlcov/

# env variants
.env.*